<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row class="message_row">
    <ion-col col-10>
      <ion-item no-lines>
        <ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
      </ion-item>
       
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2>
      <ion-button clear color="primary" (click)="saveName()" [disabled]="name === ''">
        Save
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>