<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/life-pixabay.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Reach Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>You can use the app to ask for help during emergency, for supplies and updates
        when you are stuck in any natural disaster

        Your location would be sent to our centralized team who can dispatch emergency response
        or provide you location for nearest supplies or any updates that
      </p>

      <p> Scroll below to select one of the options</p>

      <p>This is a demo app. Please do not use this in case of actual emergency.</p>

      <p>
        Image by <a
          href="https://pixabay.com/users/stanvpetersen-1870062/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2260391">Stan
          Petersen</a> from <a
          href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2260391">Pixabay</a>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-button padding color="danger" expand="block" (click)="showLocation()">Emergency Rescue</ion-button>
    <ion-button padding expand="block" (click)="joinChat()">Ask for supplies</ion-button>
    <ion-button padding expand="block" (click)="subscribeToUpdates()">Subscribe to updates</ion-button>
  </ion-list>



  <!-- <ion-content padding>
    <ion-item>
      <ion-label stacked>Set Nickname</ion-label>
      <ion-input type="text" [(ngModel)]="nickname" placeholder="Nickname"></ion-input>
    </ion-item>
    <ion-button full (click)="joinChat()" [disabled]="nickname === ''">Join Chat as {{ nickname }}</ion-button>
  </ion-content> -->

</ion-content>